name: Submodule Sync
on:
  schedule:
    # Runs "At minute 15 past every 4th hour." (see https://crontab.guru)
    - cron: "15 */4 * * *"
  workflow_dispatch:
jobs:
  submodule-sync:
    name: Submodule update
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: recursive
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Commit and Push changes
        run: |
          git config user.email "actions@github.com"
          git config user.name "github-actions"
          git add .  # Ensure submodule references are staged
          git commit -am "Auto updated submodule references" || echo "No changes to commit"
          git push https://x-access-token:${{ env.GITHUB_TOKEN }}@github.com/${{ github.repository }} HEAD:${{ github.ref }}